<!--START TOP AREA-->
<header class="top-area" id="home" [ngClass]="{ 'single-page': router.url !== '/' }">
  <div class="top-area-bg" data-stellar-background-ratio="0.6"></div>
  <div class="header-top-area">
    <!--MAINMENU AREA-->
    <div class="mainmenu-area" id="mainmenu-area">
      <div class="mainmenu-area-bg"></div>
      <nav class="navbar">
        <div class="container">
          <div class="navbar-header">
            <a routerLink="/" class="navbar-brand"><img src="../assets/img/logo.png" alt="logo"></a>
          </div>
          <div class="search-and-language-bar pull-right">
            <!-- <ul>
              <li><a routerLink="/login">login <i class="fa fa-user"></i></a></li>]
            </ul> -->
          </div>
          <div id="main-nav" class="stellarnav">
            <ul id="nav" class="nav navbar-nav">
              <li><a routerLink="/">home</a>
              </li>
              <li><a routerLink="/about">about</a>
              </li>
              <li><a routerLink="/track-order">track order</a>
              </li>
              <li><a routerLink="/contact-us">contact</a>
              </li>
              <li><a routerLink="/login">login <i class="fa fa-user"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!--END MAINMENU AREA END-->
  </div>
  <!--HOME SLIDER AREA-->
  <div class="welcome-slider-area" *ngIf="router.url === '/'">
    <div class="welcome-single-slide slider-bg-two">
      <div class="container">
        <div class="row flex-v-center">
          <div class="col-md-10 col-md-offset-1">
            <div class="welcome-text text-center">
              <h1>WE MAKE STRONGEST SERVICE ABOVE THE WORLD</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <div class="home-button">
                <a routerLink="/track-order">Track Order</a>
                <a routerLink="/contact-us">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END HOME SLIDER AREA-->
  <div class="welcome-area" *ngIf="router.url !== '/'">
    <div class="area-bg"></div>
    <div class="container">
      <div class="row flex-v-center">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="welcome-text text-center">
            <h2>{{title}}</h2>
            <ul class="page-location">
              <li><a routerLink="/">home</a></li>
              <li>/</li>
              <li><a routerLink="{{router.url}}">{{router.url.replace('/', '')}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


</header>
<!--END TOP AREA-->